.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/misc.xml
*.iml
*.iws
*.ipr
.idea/*
.gradle/
local.properties

*/build/*
!*/build/outputs/

*/build/outputs/*
!*/build/outputs/mapping/
*/build/outputs/mapping/*
!*/build/outputs/mapping/releaseConfig/
*/build/outputs/mapping/releaseConfig/*
!*/build/outputs/mapping/releaseConfig/release/
*/build/outputs/mapping/releaseConfig/release/*
!*/build/outputs/mapping/releaseConfig/release/mapping.txt


app/app.iml
*~
*.swp
/.idea/codeStyleSettings.xml
/.idea/gradle.xml
